ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #252525;
}