<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/three.min.js"></script>
    <script src="javascripts/Projector.js"></script>
    <script src="javascripts/EditControl.js"></script>
    <script src="javascripts/CanvasRenderer.js"></script>
    <script src='file:///Users/poc/Desktop/unimelb/sm3/cloud%20computing/assignment2/web/d3/d3.min.js' charset='utf-8'></script>

    <div id="wrapper" style="text-align: center">
      <div id="canvas" style="display: inline-block;"></div>
    </div>
    <a href="/">2D Mode</a>

    <script src="javascripts/3dcanvas.js"></script>
  </body>
</html>
