html,body{width: 100%;height: 100%}
body{
    margin: 0;
    padding: 0;
}
.nopm{
    margin: 0;
    padding: 0;
}
.loader{
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.loader .content{
    position: absolute;
    top:40%;
    left: 45%;
    text-align: center;
}
.header{
    text-align: center;
    font-size: 36pt;
    color: #0d82c8;
    margin-bottom: 20px;
    margin-top:10px;
}
.btn{
    border:1px solid #efefef;
    background: #f4f4f4;
    padding: 5px;
    cursor:pointer;
    font-size: 12pt;
    width: 80px;
}
.btn:hover{

}
.btn-wrapper{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.container-wrapper{
    width: 1000px;
    margin: 40px auto;
    border: 0px solid #efefef;
    text-align: center;
}

#pie{
    font-size:14pt;
}
.nav-sec ul{
    margin: 0;
    padding: 0;
}
.nav-sec ul li{list-style: none;margin-top:5px }
.nav-sec ul li a{width: 100%;text-decoration: none;color: #3270ff;
}
.nav-sec h4{text-align: center}
.nav-sec input{width: 100%;border:1px solid #cccccc;padding:5px;}
.cap{margin-left:20px;}