<h1>Global Twitter harvesting project</h1>
<em>Powered by Team 19</em>
<p>Web page developing...</p><br/>

<h2>Get All tweet</h2><hr>
<p>You can retrieve a whole list</p>
<em><a href="http://144.6.226.184:3030/all/">http://144.6.226.184:3030/all/</a></em>
<p>Will be replaced by view, it is temporialy retrieving 10 tweets, 'next' page function is developing</p><br/>

<h2>Review a single tweet</h2><hr>
<p>Typing http://144.6.226.184:3030/twitter/‘TwitterID’ to get a single twitter detail</p>
<em>e.g. <a href="http://144.6.226.184:3030/twitter/591823382628413440">http://144.6.226.184:3030/twitter/591823382628413440</a></em>
<p><em><a href="http://144.6.226.184:3030/twitter/591828256984276993">Click to view an example negative tweet</a></em></p><br/>

<h2>Search by particular tweet - sentiment[developing]</h2><hr/>
<p>You can retrieve the particular tweet by sentiment</p>
<a href="http://144.6.226.184:3030/sentiment/">http://144.6.226.184:3030/sentiment/negative</a><br/><br/>
<a href="http://144.6.226.184:3030/sentiment/">http://144.6.226.184:3030/sentiment/ohbama/negative</a><br/>
<p>Not ready yet</p>
